@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;500;600;700&display=swap');
@layer base {
    body {
        @apply font-[Roboto]
    }
    #titlebank {
        font-family: 'Bai Jamjuree', sans-serif;
    }
    #card {
        box-shadow: 41px 39px 50px 31px rgba(0,0,0,0.08);
    }
    #card:hover {
        animation: bounceCard 1s infinite;

    }
    @keyframes bounceCard {
        0%, 100% {
            transform: translate(-0.25, -1rem);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: rotate(-15deg);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
    #buttom:hover {
        animation: buttomHomeAnimate 2s 1;
    }
    @keyframes buttomHomeAnimate {
        0%, 100% {
            transform: rotate(0deg);
        }
        70% {
            transform: translateX(-0.25rem);
        }
        35% {
            transform: translateX(0.25rem);
        }

    }
}